
<div>
  <h2>
    Nav Links
  </h2>
  <ul>
    <li><%= link_to "Ping", treasury_prime_ping_path %></li>
    <li><%= link_to "Accounts", treasury_prime_accounts_path %></li>
    <li><%= link_to "Applications", person_applications_path %></li>
    <li><%= link_to "New Application", new_person_application_path %></li>
  </ul>
</div>
