<h1>Editing Person Application</h1>

<%= render 'form', person_application: @person_application %>

<%= render "shared/api_response" %>

<%= link_to 'Show', @person_application %> |
<%= link_to 'Back', person_applications_path %>
